html, body {
  font-family: Inter, sans-serif;
  color: $color-black;
}

* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 0;
  width: 100%;
  background-color: $color-background;
}

