
.navigation{
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  font-size: 1rem;
  .menu{
   display: flex;
    justify-content: space-between;
    .menu-left-item{
      padding-left:1rem;
      padding-right: 1rem;
    }
    .menu-right-item{

    }
  }
}