
.navigation{
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  font-size: 1rem;
  background-color: $color-white;
  height: 4.5rem;
  line-height: 1.25rem;
  .menu{
   display: flex;
    justify-content: space-between;
    .menu-left-item{
      padding:0.375rem 1rem 0.875rem 1rem;
      font-weight: 500;
    }
    .menu-left-logo{
      position: relative;
      margin-right: 1rem;
      &__frame {
        border: 0.125rem solid $color-black;
        background-color: transparent;
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0 2rem 0 0;
        .menu-left-logo-circle {
          height: 0.75rem;
          width: 0.75rem;
          color: $color-red;
          background-color: $color-red;
          border-radius: 50%;
          position: absolute;
          left: 37.08%;
          top: 26.13%;
        }
      }
    }
    .menu-right-item{
      padding-left:1.25rem;
      padding-right: 1.25rem;
      display: flex;
      &__search{
        height: 1.75rem;
        width: 1.75rem;
        align-self: center;
      }
      &__notifications{
        height: 1.75rem;
        width: 1.75rem;
        align-self: center;
      }
      &__account{
        height: 1.75rem;
        width: 1.75rem;
        align-self: center;
      }
      &__log-in{
        justify-content: center;
        padding:0.75rem 1.25rem;
        width: 8rem;
        height: 2.5rem;
       background-color: $color-red;
        color:$color-white;
        border-radius: 1.25rem;
      }
    }
  }
}